body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 248, 226);
}

/*top navigation bar*/
.navigation {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: flex-end;
    flex-shrink: 1;

    margin: 32px;
    padding: 0;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.book-display {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 60px;

}

.grid-span-2 {
    grid-row: span 2;
    border-style: solid;
    border-width: 2px 0px 02px 2px;
}


.content {
    padding: 1.5rem;
    background-color: rgb(255, 248, 226);
    
}

.display-simple {
    border-style: solid;
    border-width: 2px;
}

.display-complex {
    border-style: solid;
    border-width: 0px 2px 2px 2px;
}

/* 
.content > img {
    display: inline-flex;
    object-fit: cover;
    
}
*/

/*
.display-simple {
    display: flex;
    flex-flow: wrap;
    border-style: solid;
    border-color: pink;
    padding: 24px;
}

.display-complex {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 20px;
    border-style: solid;
    border-color: pink;
    padding: 24px;
}

.display-stack {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}
*/