/* define vars */
:root {
    --main-bg-color: #FFFFFF;
    --grid-bg-color: #000000;
    --main-txt-color: #000000;

}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/*top navigation bar*/
.navigation {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: flex-end;
    flex-shrink: 1;

    margin: 32px;
    padding: 0;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.book-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    border: solid;
    border-color: var(--grid-bg-color);
    border-width: 1px 0px 1px 0px;
    grid-gap: 1px;
    background-color: var(--grid-bg-color);

}

.grid-span-2 {
    grid-row: span 2;
    background-color: var(--main-bg-color);
}


.content {
    padding: 1.5rem;
    background-color: var(--main-bg-color);
    
}

.img-stack {
    display: flex;
    justify-content: space-around;
}

/* .display-simple {
    background-color: white;
}
*/

/* .display-complex {
    display: inline-flex;
}  */

/* 
.content > img {
    display: inline-flex;
    object-fit: cover;
    
}
*/

/*
.display-simple {
    display: flex;
    flex-flow: wrap;
    border-style: solid;
    border-color: pink;
    padding: 24px;
}

.display-complex {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 20px;
    border-style: solid;
    border-color: pink;
    padding: 24px;
}

.display-stack {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}
*/