/* define vars */
:root {
    --main-bg-color: #FFFFFF;
    --grid-bg-color: #000000;
    --main-txt-color: #000000;
    /* tag color variables */
    --fiction-tag-color: #ECB8FF;
    --nonfiction-tag-color: #BBDAFF;
    --tbr-tag-color: #FEC963;
    --theory-tag-color: #FFAAAA;
    --history-tag-color: #BCD49E;
    --tech-tag-color: #EDEDED;

    /* font variables */
    --ff-prim: 'Helvetica', 'Arial', sans-serif;
    --ff-sec: 'Times', Times, serif;

    --fw-prim: 400;
    --fw-sec: 300;

    --fs-prim-s: 1rem;
    /* 16 */
    --fs-prim-m: 1.25rem;
    /* 20 */
    --fs-prim-l: 1.5rem;
    /* 24 */
    --fs-sec-m: 1.25rem;
    /* 20 */
    --fs-sec-l: 2rem;
    /* 32 */
    --fs-sec-xl: 4rem;
    /* 64 */

}


body {
    font-family: var(--ff-prim);
    margin: 0px;
}

/*top navigation bar*/
.navigation {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: flex-end;
    flex-shrink: 1;

    margin: 32px;
    padding: 0;
    list-style: none;
}

a {
    color: var(--main-txt-color);
    font-family: var(--ff-prim);
    text-decoration: none;
}

h1, h2, h3 {
    font-family: var(--ff-sec);
    font-size: var(--fs-sec-l);
    font-weight: var(--fw-sec);
}

.book-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    border: solid;
    border-color: var(--grid-bg-color);
    border-width: 1px 0px 1px 0px;
    grid-gap: 1px;
    background-color: var(--grid-bg-color);

}

.grid-span-2 {
    grid-row: span 2;
    background-color: var(--main-bg-color);
}


.content {
    padding: 1.5rem;
    background-color: var(--main-bg-color);

}

.img-stack {
    display: flex;
    justify-content: space-around;
}

/* .display-simple {
    background-color: white;
}
*/

/* .display-complex {
    display: inline-flex;
}  */

/* 
.content > img {
    display: inline-flex;
    object-fit: cover;
    
}
*/

/*
.display-simple {
    display: flex;
    flex-flow: wrap;
    border-style: solid;
    border-color: pink;
    padding: 24px;
}

.display-complex {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 20px;
    border-style: solid;
    border-color: pink;
    padding: 24px;
}

.display-stack {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}
*/