/* ==========================================================================
   CSS variables 
   ========================================================================== */

:root {
    /* document main color variables */
    --main-bg-color: #FFFFFF;
    --grid-bg-color: #000000;
    --main-txt-color: #000000;

    /* tag color variables */
    --fiction-tag-color: #ECB8FF;
    --nonfiction-tag-color: #BBDAFF;
    --tbr-tag-color: #FEC963;
    --theory-tag-color: #FFAAAA;
    --history-tag-color: #BCD49E;
    --tech-tag-color: #EDEDED;

    /* font variables */
    --ff-prim: 'Helvetica', 'Arial', sans-serif;
    --ff-sec: 'Times', Times, serif;

    /* font weight variables */
    --fw-prim: 400;
    --fw-sec: 300;

    /* font size variables */
    /* 16 */
    --fs-prim-s: 1rem;
    /* 20 */
    --fs-prim-m: 1.25rem;
    /* 24 */
    --fs-prim-l: 1.5rem;
    /* 20 */
    --fs-sec-m: 1.25rem;
    /* 32 */
    --fs-sec-l: 2rem;
    /* 64 */
    --fs-sec-xl: 4rem;
}

/* ==========================================================================
   General Styles and Header
   ========================================================================== */

body {
    font-family: var(--ff-prim);
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--main-txt-color);
    font-family: var(--ff-prim);
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: var(--ff-sec);
    font-size: var(--fs-sec-l);
    font-weight: var(--fw-sec);
}

/* Navigation
   ========================================================================== */

header {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    flex-shrink: 1;

    gap: 1rem;
    margin: 32px;
    padding: 0;
    list-style: none;
}

/* Navigation States
   ========================================================================== */

nav input[type="checkbox"] {
    visibility: hidden;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation a.active {
    text-decoration: underline;
}

/* ==========================================================================
   Grid Layout
   ========================================================================== */

.book-display {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 0px;
    border: solid;
    border-color: var(--grid-bg-color);
    border-width: 1px 0px 1px 0px;
    grid-gap: 1px;
    background-color: var(--grid-bg-color);
}

.grid-span-2 {
    grid-row: span 2;
    background-color: var(--main-bg-color);
}

/* Grid Content
   ========================================================================== */

.content {
    padding: 1.5rem;
    background-color: var(--main-bg-color);
}

.img-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 10px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    margin-top: auto;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Max-width 768 px*/
@media (max-width: 768px) {

    /* Responsive hamburger menu
   ========================================================================== */

    nav input[type="checkbox"] {
        visibility: visible;
    }

    .menu-wrap {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }

    #toggle {
        position: absolute;
        top: 0;
        right: 0;
        width: 65px;
        height: 65px;
        padding: 1rem;
        opacity: 0;
        z-index: 2;
    }

    .menu-wrap .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        padding: 1rem;
        background-color: var(--main-bg-color);
        z-index: 1;

    }

    .menu-wrap .hamburger>div {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        width: 100%;
        height: 2px;
        background-color: var(--main-txt-color);
        transition: all 0.2s ease;
    }

    .menu-wrap .hamburger>div:before,
    .menu-wrap .hamburger>div:after {
        content: " ";
        position: absolute;
        top: -10px;
        width: 100%;
        height: 2px;
        background-color: var(--main-txt-color);
    }

    .menu-wrap .hamburger>div:after {
        top: 10px;
    }

    #toggle:checked+.hamburger>div {
        transform: rotate(135deg);
    }

    #toggle:checked+.hamburger>div::before,
    #toggle:checked+.hamburger>div::after {
        top: 0;
        transform: rotate(90deg);
    }

    #toggle:checked~.menu {
        visibility: visible;
    }

    #toggle:checked~#toggle {
        z-index: 1;
    }

    #hamburger:checked~ul {
        display: block;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;

        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        visibility: hidden;
        overflow-y: hidden;
    }

    .menu-wrap .menu>div {
        display: flex;
        flex-direction: column;
        flex: none;
        align-items: center;
        justify-content: center;

        background: var(--main-bg-color);
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
        scrollbar-width: none;
    }

    nav ul {
        display: none;
        top: 70px;
        margin: 0;
        width: 100%;
        background-color: var(--main-bg-color)
    }

    nav li {
        height: min-content;
        padding: 16px;
        text-align: center;
        width: 100%;
    }
}

/* Max-width 640 px */
@media (max-width: 640px) {
    .book-display {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

/* Max-width 475 px */
@media (max-width: 475px) {
    .book-display {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}