body {
    font-family: Arial, Helvetica, sans-serif;
}

/*top navigation bar*/
.navigation {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: flex-end;
    flex-shrink: 1;

    margin: 32px;
    padding: 0;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.book-display {
    display: grid;
    grid-template-columns: 1fr 1fr;

    border: 3px;
    border-style: solid;
    border-color: green;
    padding: 24px;
}

.grid-span-2 {
    grid-row: span 2;
}

.content {
    padding: 1.5rem;
    background-color: aqua;
    border-style: solid;
    align-content: center;
}

.display-complex {
    img
}

/*
.display-simple {
    display: flex;
    flex-flow: wrap;
    border-style: solid;
    border-color: pink;
    padding: 24px;
}

.display-complex {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 20px;
    border-style: solid;
    border-color: pink;
    padding: 24px;
}

.display-stack {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}
*/
