/*top navigation bar*/
.navigation {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    flex-shrink: 1;

    margin: 32px;
    padding: 0;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

