body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*top navigation bar*/
.navigation {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: flex-end;
    flex-shrink: 1;

    margin: 32px;
    padding: 0;
    list-style: none;
}


a {
    color: black;
    text-decoration: none;
}

.stats {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(480px, 1fr)); */
    border: solid;
    border-color: black;
    border-width: 1px 0px 1px 0px;
    grid-gap: 1px;
    background-color: black;

}

.stats__content {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    padding: 24px;
}

.tag-stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 10px;
}

.tags {
    border-style: none;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: flex-start;
    padding: 0px 12px;
    gap: 10px;
    border-radius: 100px;
}

.img-stack {
    display: flex;
    justify-content: space-between;
}

.favorites {
    grid-column: 2 / 4;
}

.placeholder {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 2;
}