/* define variables */
:root {
    /* general color variables */
    --main-bg-color: #FFFFFF;
    --grid-bg-color: #000000;
    --main-txt-color: #000000;
    /* tag color variables */
    --fiction-tag-color: #ECB8FF;
    --nonfiction-tag-color: #BBDAFF;
    --tbr-tag-color: #FEC963;
    --theory-tag-color: #FFAAAA;
    --history-tag-color: #BCD49E;
    --tech-tag-color: #EDEDED;

    /* font variables */
    --ff-prim: 'Helvetica', 'Arial', sans-serif;
    --ff-sec: 'Times', Times, serif;

    --fw-prim: 400;
    --fw-sec: 300;

    --fs-prim-s: 1rem;
    /* 16 */
    --fs-prim-m: 1.25rem;
    /* 20 */
    --fs-prim-l: 1.5rem;
    /* 24 */
    --fs-sec-m: 1.25rem;
    /* 20 */
    --fs-sec-l: 2rem;
    /* 32 */
    --fs-sec-xl: 4rem;
    /* 64 */
}


body {
    font-family: var(--ff-prim);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*top navigation bar*/

header {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
}

nav input[type="checkbox"] {
    visibility: hidden;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: flex-end;
    flex-shrink: 1;

    margin: 32px 32px 0px 32px;
    padding: 0;
    list-style: none;
}

/* .hamburger-menu {
    width: 30px;
    height: 23px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
} */

/* .bar {
    height: 4px;
    width: 100%;
    background: #000000;
    border-radius: 100px;
} */

a {
    color: var(--main-txt-color);
    font-family: var(--ff-prim);
    text-decoration: none;
}

h2 {
    font-family: var(--ff-sec);
    font-weight: var(--fw-sec);
    font-size: var(--fs-sec-l);
    letter-spacing: 0.02em;
    margin: 0px;
}

h3 {
    font-family: var(--ff-prim);
    font-weight: var(--fw-prim);
    font-size: var(--fs-prim-m);
    letter-spacing: 0.02em;
    margin: 0;
}

p {
    font-family: var(--ff-prim);
    font-size: var(--fs-prim-s);
    font-weight: var(--fw-prim);
}

#back {
    height: 32px;
    width: min-content;
    background-color: var(--main-bg-color);
    text-decoration: none;
    padding: 32px;
    margin: 0 120px;
    font-size: var(--fs-prim-s);
}

.tags {
    border-style: none;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: flex-start;
    padding: 0px 12px;
    gap: 10px;
    border-radius: 100px;
}

.tag-stack__text {
    font-size: 0.875rem;
}

.genre {
    padding: 0px;
}

.fiction {
    background: var(--fiction-tag-color);
}

.nonfiction {
    background: var(--nonfiction-tag-color);

}

.toberead {
    background: var(--tbr-tag-color);

}

.book-detail__title-author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: px; */
}

.book-detail__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.book-detail__bottom {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 16px 32px;
    /* padding: 0 25% 0 0; */
}

.text {
    display: flex;
    flex: 1;

}

.book-title__description-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.book-detail {
    display: inline-flex;
    align-items: flex-start;
    gap: 48px;
    padding: 32px;
    margin: 0 80px 0 120px;
}

.book-detail>img {
    order: -1
}

.recommendations {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    border: solid;
    border-color: black;
    border-width: 1px 0px 0px 0px;
    grid-gap: 1px;
    background-color: black;
}

.recommendations__item {
    display: flex;
    flex-flow: row;
    padding: 2rem;
    background-color: white;
    gap: 24px;
}

.recommendations__item>img {
    align-self: start;
}

main {
    display: inline-flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;
}


footer {
    border: solid;
    border-color: black;
    border-width: 1px 0px 0px 0px;
    padding: 16px;
}


@media (max-width: 1536px) {
    .book-detail__bottom {
        gap: 32px;
        padding: 16px 0;
    }
}

@media (max-width: 1280px) {
    .book-detail {
        flex-direction: column;
        margin: 0;
    }

    #back {
        margin: 0;
    }

    .book-detail__bottom {
        gap: 32px;
        padding: 16px 0;
    }

    .recommendations {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1024px) {
    .book-detail {
        flex-direction: column;
        margin: 0;
    }

    #back {
        margin: 0;
    }

    .book-detail__bottom {
        flex-direction: column;
        gap: 32px;
        padding: 16px 0;
    }

    .book-detail__bottom>p {
        margin: 0;
    }
}

@media (max-width: 768px) {
    nav input[type="checkbox"] {
        visibility: visible;
    }

    .menu-wrap {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }

    #toggle {
        position: absolute;
        top: 0;
        right: 0;
        width: 65px;
        height: 65px;
        padding: 1rem;
        opacity: 0;
        z-index: 2;
    }

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--main-bg-color);
        z-index: 1;

    }

    .menu-wrap .hamburger>div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: var(--main-txt-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;
    }

    .menu-wrap .hamburger>div:before,
    .menu-wrap .hamburger>div:after {
        content: " ";
        position: absolute;
        top: -10px;
        width: 100%;
        height: 2px;
        background-color: var(--main-txt-color);
    }

    .menu-wrap .hamburger>div:after {
        top: 10px;
    }

    #toggle:checked+.hamburger>div {
        transform: rotate(135deg);
    }

    #toggle:checked+.hamburger>div::before,
    #toggle:checked+.hamburger>div::after {
        top: 0;
        transform: rotate(90deg);
    }

    #toggle:checked~.menu {
        visibility: visible;
    }

    #toggle:checked~#toggle {
        z-index: 1;
    }

    #hamburger:checked~ul {
        display: block;
      }


    .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        visibility: hidden;
        overflow-y: hidden;;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .menu>div {
        background: var(--main-bg-color);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex: none;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
        scrollbar-width: none;
    }

    nav ul {
        display: none;
        top: 70px;
        margin: 0;
        width: 100%;
        background-color: var(--main-bg-color)
    }

    nav li {
        height: min-content;
        padding: 16px;
        text-align: center;
        width: 100%;
    }




    /* #toggle:checked:hover + .hamburger > div {
       transform: rotate(225deg);
    } */




    /* position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center; */


    /* .hamburger-menu {
        display: flex;
    }

    .book-display {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .navigation {
        display: none;
        margin: 0;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 70px;
        margin: 0;
        height: min-content;
        width: 100%;
        background-color: var(--main-bg-color)
    }

    nav li {
        height: min-content;
        padding: 16px;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid black;
    }

    #hamburger-menu:checked~ul {
        display: block;
    } */


    .book-detail {
        flex-direction: column;
        margin: 0;
    }

    #back {
        margin: 0;
    }

    .book-detail__bottom {
        flex-direction: column;
        gap: 32px;
        padding: 16px 0;
    }

    .book-detail__bottom>p {
        margin: 0;
    }
}

@media (max-width: 640px) {
    .book-detail {
        flex-direction: column;
        margin: 0;
    }

    #back {
        margin: 0;
    }

    .book-detail__bottom {
        flex-direction: column;
        gap: 32px;
        padding: 16px 0;
    }

    .book-detail__bottom>p {
        margin: 0;
    }
}

@media (max-width: 475px) {
    .book-detail {
        flex-direction: column;
        margin: 0;
    }

    #back {
        margin: 0;
    }

    .book-detail__bottom {
        flex-direction: column;
        gap: 32px;
        padding: 16px 0;
    }

    .book-detail__bottom>p {
        margin: 0;
    }
}